.chat-box {
    background-color: rgba(233, 236, 239, 0.397);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    min-height: 90vh;
    width: 100%;
    box-shadow: rgba(17, 12, 46, 0.4) 0px 48px 100px 0px;
    position: relative;
  }
  
  .messages-container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    margin-top: 2.4rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-top: 1.8rem;
  }
  
  .messages-container::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Handle */
  .messages-container::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #e9ecef;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  .chat-box .message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    max-width: 80%;
    position: relative;
    margin-bottom: 1.8rem;
  }
  
  .avatar {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-self: flex-end;
    bottom: -12%;
    border: 0.5px solid rgba(200, 32, 23, 0.5);
  }
  
  .user-message .avatar {
    order: 2;
    right: -4%;
  }
  .other-message .avatar {
    margin-right: 0.2rem;
    left: -4%;
  }
  
  .user-message {
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 2.4rem;
  }
  
  .other-message {
    justify-content: flex-start;
    margin-right: auto;
    margin-left: 2.4rem;
  }
  
  .text-and-time {
    background-color: #e9ecef;
    border-radius: 20px;
    padding: 10px 20px;
    color: black;
    flex-grow: 1;
  }
  
  .user-message .text-and-time {
    background-color: #f9f9f9; /* Blue background for user messages */
    color: black;
    border-bottom-right-radius: 0;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  .other-message .text-and-time {
    background-color: #f9f9f9; /* Lighter gray for other messages */
    color: black;
    border-bottom-left-radius: 0;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  .timestamp {
    display: block;
    font-size: 0.75em;
    margin-top: 5px;
    opacity: 0.6;
  }
  
  .message-form {
    display: flex;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    width: 90vw;
  }
  
  .form-control {
    flex-grow: 1;
    margin-right: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 12px;
    border: #c81f17;
    background-color: #f9f9f9;
  }
  
  /* Change focus styles for inputs */
  .form-control:focus {
    border-color: #c81f17 !important; /* Lighter border color when focused */
    box-shadow: 0 0 0 0.2rem rgba(200, 32, 23, 0.4) !important; /* Same box shadow as default */
  }
  
  .send-button {
    margin-bottom: 12px;
    border: none;
    color: white !important;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #c81f17 !important;
  }
  
  .send-button:hover {
    background-color: #ce352e !important;
    color: #fff !important;
  }