@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

*:has() {
  box-sizing: border-box;
  list-style: none;
  appearance: none;
  border: 0;
  text-decoration: none;
}
:root {
  --clr-primary: #7380ec;
  --clr-danger: #ff7782;
  --clr-shadow: #FEDEDD;
  --clr-success: #41f1b6;
  --clr-white: #fff;
  --clr-info-dark: #7d8da1;
  --clr-info-light: #dce1eb;
  --clr-dark: #363949;
  --clr-warning: #ff4edc;
  --clr-light: rgba(132, 139, 200, 0.18);
  --clr-primary-variant: #111e88;
  --clr-dark-variant: #677483;
  --clr-color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 1rem 1rem var(--clr-danger);
  --box-shadow2: 0 1rem 1rem var(--clr-shadow);
  --box-shadow3: 0 1rem 1rem var(--clr-dark-variant);
}

/* dark theme */
.dark-theme-variables {
  --clr-color-background: #181a1e;
  --clr-white: #202528;
  --clr-light: rgba(0, 0, 0, 0.4);
  --clr-dark: #edeffd;
  --clr-dark-variant: #677483;
  --box-shadow: 0 2rem 3rem var(--clr-light);
}
 .container {
  margin: 10px 10px 10px 10px;
  width: auto;
}

.insights{
  padding-left: 32px;
  padding-right: 32px;
}
 input {
  background-color: transparent;
  border: 0;
  outline: 0;
  color: var(--clr-dark);
}
 .date {
  display: inline-block;
  background-color: var(--clr-white);
  border-radius: var(--border-radius-1);
  margin-left: 1rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 0.9rem;
  padding-bottom: 0.5rem;
}
 .insights .insights-bg-first {
  background-color: var(--clr-white);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow2);
  transition: all 0.3s ease;
}
.insights .insights-bg-first:hover{
  box-shadow: var(--box-shadow);
}
 .insights .insights-bg-first .middle-first .text-content {
  padding: var(--card-padding);
}
 .insights .insights-bg {
  background-color: var(--clr-white);
  padding: var(--padding-1);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  justify-content: center;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;
}
 .insights .insights-bg:hover {
  box-shadow: none;
}
 .insights .insights-bg span {
  background-color: coral;
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--clr-white);
  font-size: 2rem;
}
 .insights .insights-bg .portion {
  background-color: #ffc34d;
}
 .insights .insights-bg .middle {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 .insights .insights-bg .middle h1 {
  font-size: 1.6rem;
}
 .insights .insights-bg .middle .progress-infor svg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
 .insights svg #percent {
  fill: none;
  stroke: var(--clr-primary);
  transform: rotate(270, 80, 80);
  stroke-width: 5;
  translate: 0 50%;
}
 .insights .insights-bg .middle .progress-infor svg .one {
  stroke-dashoffset: 10;
  stroke-dasharray: 150;
}
 .insights .insights-bg .middle .progress-infor svg .two {
  stroke-dashoffset: 0;
  stroke-dasharray: 150;
  stroke: var(--clr-success);
}
 .insights .insights-bg .middle .progress-infor .number {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
 h1 {
  color: var(--clr-dark);
}
 .insights h1 {
  color: var(--clr-dark);
}
 .insights h3 {
  color: var(--clr-dark);
}
 .insights p {
  color: var(--clr-dark);
}
 .insights .progress-infor {
  position: relative;
  height: 68px;
  width: 68px;
  border-radius: 50px;
}
 .exam-result {
  display: grid;
  gap: 10px;
}
 .insights {
  display: grid;
  gap: 1.4rem;
  margin-bottom: 0.6rem;
  grid-template-columns: repeat(3, 1fr);
}
 .point-container {
  display: grid;
  gap: 10px;
}
 .bot {
  display: grid;
  grid-template-columns: 70vw 25vw;
  gap: 10px;
}
 .question-view-container {
  overflow-y: scroll;
  height: 600px;
  background-color: var(--clr-white);
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;
}
.insights .table-question-card {
  background-color: var(--clr-white);
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;
}
 .upside {
  display: flex;
  justify-content: flex-start;
}

.main-section .navbar {
  height: 4.2rem;
  display: flex;
  padding: 8px 0;
  align-items: center;
  justify-content: space-between;
  background-color: #c81f17;
  box-shadow: 1px 8px 10px 1px rgba(0, 0, 0, 0.2);
}

.main-section .navbar .navbar-brand img {
  border-radius: 50%;
  max-width: 2.8rem;
  background: #fff;
  text-align: center;
}

.main-section .navbar .nav-item {
  font-size: 1.8rem;
  opacity: 0.8;
  transition: all 0.25s ease;
}
.main-section .navbar .nav-item a {
  color: #fff;
}

.main-section .navbar .nav-item:hover {
  opacity: 1;
}

.main-section .navbar .nav-item.inPage {
  opacity: 1;
}

.main-section .navbar .dropdown-menu .dropdown-item {
  transition: all 0.25s ease;
  color: #c81f17;
  opacity: 0.7;
}
.main-section .navbar .dropdown-menu .dropdown-item:hover {
  opacity: 1;
}
.main-section .navbar .navbar-nav .dropdown-menu .dropdown-item {
  opacity: 0.7;
  transition: all 0.25s ease;
  font-size: 1.2rem;
}
.main-section .navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
  opacity: 1;
}

/* test */
.jcc {
  justify-content: center;
}
.aic {
  align-items: center;
}
.df {
  display: flex;
}
.css-1dtoqh9 {
  margin: 0px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  text-align: center;
}
.row-cell {
  padding: 8px 4px;
  border: none;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  display: table-cell;
  vertical-align: inherit;
  text-align: left;
  color: rgb(32, 34, 39);
}
/* Statistic */
.w100 {
  width: 100%;
}
.jcsb {
  justify-content: space-between;
}

.css-vubbuv {
  color: rgb(56, 142, 60);
  width: 12px;
  height: 12px;
  margin-right: 8px;
  user-select: none;
  display: inline-block;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.5rem;
  translate: 0 -5px;
}
#cir {
  fill: rgb(56, 142, 60);
}
#cir2 {
  fill: #c81f17;
}
#cir3 {
  fill: var(--clr-dark-variant);
}
.css-1jg {
  margin-right: 16px;
  min-width: 56px;
  font-weight: 400;
  font-size: 0.875rem;
  align-content: center;
}
.quantity {
  margin: 0;
  font-size: 0.875rem;
  text-align: right;
}
.pr {
  position: relative;
}
.css-1jg1chf {
  margin-right: 16px;
  min-width: 56px;
  margin: 0px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
}
.css-pm05iu {
  margin: 0px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  text-align: right;
  font-weight: 600 !important;
}

/* Chart css */